@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, sans-serif;
    font-size:12px;
    color: bisque;
    
}

.comps{
    color: #00ff88;
    font-weight: 800;
        background: #201b2c;
        display: flex;
        justify-content: center;
        align-items: center;
}

.button{
    
    color: #00ff88;
    font-weight: 800;
        background: #201b2c;
        display: flex;
        justify-content: center;
        align-items: center;
    
}

.btn{
    transition: 1s;
    width: 10%;
    padding: 16px 0px;
    border-radius: 8px;
    margin: 25px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}


.btn:hover{
    transition: 1s;
    background-color: #201b2c;
    color: #fff;
}

#link-topo{
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    width: 3rem;
    height: 3rem;
    background: #00ff88;
    background: -webkit-linear-gradient(to right, #00ff88, #00ff88);
    background: linear-gradient(to left, , #00ff88);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: .3rem;
    box-shadow:  0 0.1rem 0.6rem #00000009;
  }


footer{
    width: 100%;
    height: 7rem;
    background-color: #17181b;
    display: flex;
    justify-content: center;
    align-items: center;
  }



body{
    background: #2c3e50;
}


nav{
    position: relative;
    margin:40px auto 0;
	padding-left: 30px;
	width: 590px;
	height: 50px;
	background: #34495e;
	border-radius: 8px;
	font-size: 0;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
}

nav a {
    
	font-size: 15px;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	line-height: 50px;
	position: relative;
	z-index: 1;
	display: inline-block;
	text-align: center;
}


nav .animation{
	position: absolute;
	height: 100%;  
	top: 0;
	z-index: 0;
	background: #1abc9c;
    border-radius: 9px;
    transition: all .5s ease 0s;


}

nav a:nth-child(1){
	width: 100px;
}

nav .start-home, a:nth-child(1):hover-:animation{
	width: 100px;
	left: 0;
}

nav a:nth-child(2){
	width: 180px;
}

nav .start-home, a:nth-child(2):hover-:animation{
	width: 110px;
	left: 100px;
}


nav a:nth-child(3){
	width: 130px;
}

nav .start-home, a:nth-child(3):hover-:animation{
	width: 100px;
	left: 210px;
}

nav a:nth-child(4){
	width: 160px;
}

nav .start-home, a:nth-child(4):hover-:animation{
	width: 160px;
	left: 310px;
}




.pooldesc{
    padding-top: 6px;
    color: rgb(216, 216, 216);
    font-weight: 300;
    text-align: center;
    font-size: 15px;
}

.desc{
    padding-top: 30px;
    color: rgb(216, 216, 216);
    font-weight: 300;
    text-align: center;
    font-size: 30px;
}

.imagem{
    
    display: flex;
    justify-content: center;
}

.imagem-p{
    
    display: flex;
    justify-content: center;
}

.mar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
}


.mar-p{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
}


.text-main{
    padding-top: 30px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 25px;
    
}

.text{
    
    text-align: center;
    color: #00ff88;
    font-weight: 600;
    font-size: 25px;
}


.cardd{
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    width: 200px;
    height: 500px;
    border-radius: 15px;
    margin-top: 80px;
    background-color: #202020;
    margin-bottom: 10px;

}

.container{
    margin: 0;
    background: #201b2c;
    display: flex;
    justify-content: center;
    
}

.container > h1{
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 200px;
}

.carddraft{
    margin: 0;
    display: flex;
    margin-left: 3%;
    width: 1100px;
    height: 190px;
    border-radius: 15px;
    margin-bottom: 100px;
    margin-top: 100px;
    background-color: #202020;

}


.ns{
    
    margin: 0;
    background: #201b2c;
    display: flex;
    justify-content: center;
    
    

}